{% load wagtailcore_tags wagtailimages_tags %}

<div class="col-sm-12 col-md-12 col-lg-12 mb-50">
  <div class="schedule-box maxwidth500 clearfix mb-30">
      <div class="col-md-5 p-0">
          <div class="thumb">
              {% image item.hero_image fill-540x370 format-webp-lossless class="img-fullwidth" %}
          </div>
      </div>
      <div class="col-md-7">
          <div class="schedule-details clearfix p-15 pt-30">
              <h2 class="mt-0 text-theme-colored"><a href="{% pageurl item %}">{{item.title}}</a></h3>
              <div class="clearfix"></div>
              <p class="mt-10 font-18">
                  {{item.search_description}}
              </p>
              <div class="mt-10">
                  <a href="{% pageurl item %}" class="btn btn-default btn-theme-colored mt-10 font-16 btn-sm">Learn More</a>
              </div>
          </div>
      </div>
  </div>
</div>
