{% extends 'layouts/branding.html' %}

{# --------------------------------------- #}
{# Settings, models, library variables #}
{# --------------------------------------- #}

{% set ui_title = "Branding library" %}

{% block ui_description %}
	<p>{{ global.client_name }}</p>
{% endblock %}

{# --------------------------------------- #}
{# UI Sub–nav options #}
{# --------------------------------------- #}

{% block ui_nav %}{% endblock %}

{# --------------------------------------- #}
{# Main body content #}
{# --------------------------------------- #}

{% block body %}
<div class="">
	<div class="">
    <div class="text-md mb-3">Page templates</div>
    <ul class="list-group">
      {% for item in pages %}
      <li class="list-group-item p-0">
        <div class="flex flex-row justify-between">
          <div class="py-2 px-3">
            <a href="{{ page.url }}/page-templates/{{ item.name }}" class="">
              {{ item.name }}
            </a>
          </div>
          <div class="py-2 px-3 w-25 bg-yellow-600 text-white">
            <span class="capitalize"><strong>{{item.stage}}</strong></span>
          </div>
        </div>
      </li>
      {% endfor %}
		</ul>
	</div>
</div>

{% endblock %}
