{% load wagtailcore_tags wagtailimages_tags %}

{% image self.image fill-1512x772-c100 as image %}
<section id="home" class="hero divider layer-overlay overlay-theme-gradient" data-bg-img="{{image.url}}">
    <div class="display-table">
        <div class="display-table-cell">
            <div class="container pt-100 pb-100">
                <div class="row">
                    <div class="col-md-12">
                        <div class="hero__title bg-lightest-transparent text-left pt-60 pb-60">
                            {% for block in self.content %}
                                {% include_block block %}
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
