{% extends "wagtailadmin/admin_base.html" %}
{% load static i18n %}

{% block branding_title %}{{global.site_name}}{% endblock branding_title %}
{% block titletag %}{% trans "Sign in" %}{% endblock %}
{% block bodyclass %}login{% endblock %}

{% block extra_css %}
  <meta name="robots" content="noindex, nofollow">
{% endblock %}

{% block furniture %}
  <div class="content-wrapper password-required">
    <div class="logo logo-small">
      <img src="{% static '/img/Line 23.svg' %}" />
    </div>
    {% comment %} <div class="logo-text">Line 23</div> {% endcomment %}

    {% if form.errors %}
      <div class="messages">
        <ul>
          <li class="error">{{ form.password.errors.0 }}</li>
        </ul>
      </div>
    {% endif %}

    <form action="{{ action_url }}" method="POST" autocomplete="off" class="login-form">
      {% csrf_token %}
      {% for field in form.hidden_fields %}
        {{ field }}
      {% endfor %}
      {{ form.non_field_errors }}
      <h1>Sign in</h1>
      <p>Please enter a password to access the page.</p>

      <div class="w-field__wrapper " data-field-wrapper="">
        <label class="w-field__label" for="id_password" id="id_password-label">
          {{ form.password.label_tag }}<span class="w-required-mark">*</span>
        </label>
        <div class="w-field w-field--char_field w-field--password_input" data-field="" data-contentpath="password">
          <div class="w-field__errors" data-field-errors=""></div>
          <div class="w-field__input" data-field-input="">
            <input type="password" name="password" placeholder="Enter password" required="" id="id_password">
          </div>
          <div data-field-help=""></div>
        </div>
      </div>

      <footer class="form-actions">
        <button type="submit" class="button button-longrunning" data-clicked-text="Signing in…"><svg class="icon icon-spinner icon" aria-hidden="true"><use href="#icon-spinner"></use></svg><em>Sign in</em></button>
      </footer>
    </form>
  </div>
{% endblock %}

{% block extra_js %}
  <script>
    $(function () {
      $('form input[name=password]').focus();
    })
  </script>
{% endblock %}
