{% extends "base.html" %}
{% load static wagtailcore_tags %}

{% block body_class %}{% endblock %}

{% block extra_css %}

{% endblock extra_css %}

{% block content %}

<div class="main-content">

  <section class="hero inner-header divider">
    <div class="container pt-50 pb-50">
        <div class="section-content pt-100">
            <div class="row">
                <div class="col-md-12">
                    <h1 class="font-50 text-theme-colored">{{page.title}}</h1>
                    {% if topics %}
                      <div class="widget">
                        <div class="tags">
                          {% for topic in topics %}
                            <a href="{% pageurl self %}?topic={{topic.slug}}">{{topic}}</a>
                          {% endfor %}
                        </div>
                      </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
  </section>

  <section>
    <div class="container mt-30 mb-30 pt-30 pb-30">
      <div class="row">
        <div class="col-md-10 col-md-offset-1">
          <div class="blog-posts">
            <div class="col-md-12">
              <div class="row list-dashed">
                {% for item in page.get_children.specific %}
                  {% include 'blog/partials/article-card.html' %}
                {% endfor %}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>

{% endblock content %}
