.hide {
  visibility: hidden;
  height: 0;
}

.clients-logo .item {
  display: flex;
  height: 100px;
}

.clients-logo .item a,
.clients-logo .item span {
  display: block;
  margin: auto;
}

.clients-logo img {
  height: auto;
  max-height: 100px;
  opacity: 1;
}

/* === RICHTEXT === */

.post .entry-content {
  background: #fff;
  padding: 0;
}

article .entry-content > h2,
article .entry-content > h3,
article .entry-content > h4 {
  color: #002d62;
}

article .entry-content ol {
  list-style-position: outside;
  list-style-type: decimal;
  padding-left: 2.5em;
}

article .entry-content ul {
  list-style-position: outside;
  list-style-type: disc;
  padding-left: 2.5em;
}

article .entry-content a {
  color: #ffab00;
  text-decoration: underline;
}

.media-figure {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.media-figure img {
  display: block;
  margin-bottom: 0.5em;
  width: 100%;
}

@media (max-width: 1200px) {
  .media-figure img {
    height: auto;
  }
}

.media-figure.wide img {
  display: block;
  margin-bottom: 0.5em;
  width: 100%;
  height: auto;
}

.media-caption a {
  color: #ffab00;
  text-decoration: underline;
}

blockquote p {
  font-size: 20px;
  font-style: normal;
}

blockquote cite {
  color: #ffab00 !important;
  text-transform: uppercase;
  font-style: normal;
  font-size: 12px;
  font-weight: 600;
}

.entry-content iframe {
  min-height: 500px;
}
