{% load wagtailcore_tags %}

<section class="hero divider bg-theme-colored">
  <div class="display-table">
      <div class="display-table-cell">
          <div class="container pt-100 pb-100">
              <div class="row pt-60 pb-60">
                  <div class="col-md-8 hero__caption">
                      <div class="bg-lightest-transparent text-left">
                        {% for block in self.content %}
                          {% include_block block %}
                        {% endfor %}
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>
