{% load wagtailcore_tags wagtailimages_tags %}

{% image self.image fill-1512x772-c100 as image %}
<section class="hero divider bg-theme-colored {% if self.image %}layer-overlay{% endif %}" {% if self.image %}data-bg-img="{{image.url}}"{% endif %}>
  <div class="display-table">
      <div class="display-table-cell">
          <div class="container pt-100 pb-100">
              <div class="row pt-60 pb-60">
                  <div class="col-md-8 hero__caption">
                      <div class="bg-lightest-transparent text-left">
                        {% for block in self.content %}
                          {% include_block block %}
                        {% endfor %}
                      </div>
                  </div>

                  {% if page.sections|length or page.get_children.live.in_menu|length %}

                  <div class="col-md-4 hero__aside">
                    <ul class="inPageNav">
                      {% for item in page.sections %}
                        <li class="inPageNav__item">
                          <a href="#{{item.value.anchor_id}}" class="inPageNav__link">
                              {{item.value.name}}
                          </a>
                        </li>
                        {% for item in page.get_children.live.in_menu %}
                          <li class="inPageNav__item">
                            <a href="{% pageurl item %}" class="inPageNav__link">
                                {{item.title}}
                            </a>
                          </li>
                        {% endfor %}
                      {% endfor %}
                    </ul>
                  </div>

                  {% endif %}
              </div>
          </div>
      </div>
  </div>
</section>
