<!DOCTYPE html>
<html dir="ltr" lang="en">

<head>
    <!-- Meta Tags -->
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <meta name="description" content="Line23 - Your Technology Partner For Good Causes" />
    <meta name="keywords" content="web development,agile,data visualisation,visualization,agile coaching" />
    <meta name="author" content="Edwin P. Magezi" />

    <!-- Stylesheet -->
    <link href="../assets/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="../assets/css/jquery-ui.min.css" rel="stylesheet" type="text/css">
    <link href="../assets/css/css-plugin-collections.css" rel="stylesheet" />
    <!-- CSS | menuzord megamenu skins -->
    <link id="menuzord-menu-skins" href="../assets/css/menuzord-skins/menuzord-rounded-boxed.css" rel="stylesheet" />
    <!-- CSS | Main style file -->
    <link href="../assets/css/style-main.css" rel="stylesheet" type="text/css">
    <!-- CSS | Custom Margin Padding Collection -->
    <link href="../assets/css/custom-bootstrap-margin-padding.css" rel="stylesheet" type="text/css">
    <!-- CSS | Responsive media queries -->
    <link href="../assets/css/responsive.css" rel="stylesheet" type="text/css">

    <!-- CSS | Theme Color -->
    <link href="../assets/css/colors/theme-skin-blue-astro.css" rel="stylesheet" type="text/css">

    <!-- Page Title -->
    <title>Articles - LINE 23 - Your Technology Partner For Good</title>

    <!-- external javascripts -->
    <script src="../assets/js/jquery-2.2.4.min.js"></script>
    <script src="../assets/js/jquery-ui.min.js"></script>
    <script src="../assets/js/bootstrap.min.js"></script>
    <!-- JS | jquery plugin collection for this theme -->
    <script src="../assets/js/jquery-plugin-collection.js"></script>
</head>

<body class="">
    <div id="wrapper" class="clearfix">
        <header id="header" class="header">
            <div class="header-nav">
                <div class="header-nav-wrapper navbar-scrolltofixed bg-silver-light">
                    <div class="container">
                        <nav id="menuzord-right" class="menuzord default no-bg">
                            <a class="menuzord-brand pull-left flip" href="index-mp-layout1.html">
                                LINE <span class="text-theme-colored">23</span>
                            </a>
                            <ul class="menuzord-menu onepage-nav menuzord-right">
                                <li><a href="#home">Home</a></li>
                                <li class="active"><a href="#products">Build Products</a></li>
                                <li><a href="#visualisation">Data Visualisation</a></li>
                                <li><a href="#marketing">Digital Marketing</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </header>
    </div>

    <!-- Start main-content -->
    <div class="main-content">
        <section class="hero inner-header divider">
            <div class="container pt-50 pb-50">
                <div class="section-content pt-50">
                    <div class="row">
                        <div class="col-md-12">
                            <h1 class="font-50 text-theme-colored">How can we improve the sustainability of our digital products</h1>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section>
            <div class="container mt-10 mb-30 pt-10 pb-30">
                <div class="row">
                    <div class="col-md-10 col-md-offset-1">
                        <div class="blog-posts single-post">
                            <div class="author-details media-post mb-20">
                                <a href="#" class="post-thumb mb-0 pull-left flip pr-20">
                                    <img class="img-thumbnail" alt="" src="https://picsum.photos/id/237/110/110">
                                </a>
                                <div class="post-right">
                                    <h5 class="post-title mt-0 mb-0"><a href="#" class="font-18 text-theme-colored">John Doe</a></h5>
                                    <p class="text-theme-colored-secondary text-capitalize">
                                        Senior Full-Stack Developer
                                        <span class="text-gray-darkgray font-12 ml-5">27 Jan 2023<span>
                                    </p>
                                    <div class="widget">
                                        <div class="tags">
                                            <a href="#" class="font-12">Digital Products</a>
                                            <a href="#" class="font-12">Data Visualisation</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                            <article class="post clearfix mb-0">
                                <div class="entry-content font-17 text-black-333">
                                    <p class="mb-15">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                                    <p class="mb-15">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                                    <blockquote class="theme-colored pt-20 pb-20">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
                                        <footer>Someone famous in <cite title="Source Title">Source Title</cite></footer>
                                    </blockquote>
                                    <h2 class="text-theme-colored">This is a heading!</h2>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna et sed aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                                </div>
                            </article>

                            <div class="author-details media-post mt-20">
                                <a href="#" class="post-thumb mb-0 pull-left flip pr-20">
                                    <img class="img-thumbnail" alt="" src="https://picsum.photos/id/237/110/110">
                                </a>
                                <div class="post-right">
                                    <h5 class="post-title mt-0 mb-0"><a href="#" class="font-18 text-theme-colored">John Doe</a></h5>
                                    <p class="text-theme-colored-secondary text-capitalize">
                                        Senior Full-Stack Developer
                                        <span class="text-gray-darkgray font-12 ml-5">27 Jan 2023<span>
                                    </p>
                                    <div class="widget">
                                        <div class="tags">
                                            <a href="#" class="font-12">Digital Products</a>
                                            <a href="#" class="font-12">Data Visualisation</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="divider layer-overlay overlay-light">
            <div class="container">
                <div class="section-content text-left">
                    <div class="row">
                        <div class="col-md-12">
                            <h2 class="mt-0 text-theme-colored">Get in touch about your project</h2>
                            <h4>If you've got a brief, we'd love to see it. If you haven't, talk to us before you write it, we can help.</h4>
                            <div class="contact-block">
                                <div class="contact-block__image">
                                    <img alt="" class="avatar__image img-circle" src="../assets/img/Edwin_Magezi.max-800x600.jpg" width="100px" />
                                </div>
                                <div class="contact-block__content">
                                    <h4 class="mb-0"><a href="mailto:edwinm@line23.co" class="contact-block__email">edwinm@line23.co</a></h4>
                                    <a href="tel://+256702366784" class="contact-block__number text-theme-colored-secondary">(+256) 702 366784</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>

    <footer id="footer" class="footer pb-0 bg-theme-colored">
        <div class="container footer-nav bg-theme-colored p-20">
            <div class="row text-left">
                <div class="col-md-12 inline-flex font-12">
                    <p class="text-white m-0 mr-50">Copyright <b>LINE 23</b> 2023</p>
                    <div class="footer-nav__links">
                        <ul class="inline-flex">
                            <li><a href="#products" class="mr-20">Build Products</a></li>
                            <li><a href="#visualisation" class="mr-20">Data Visualisation</a></li>
                            <li><a href="#marketing" class="mr-20">Digital Marketing</a></li>
                            <li><a href="#blog" class="mr-20">Blog</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <!-- Footer Scripts -->
    <!-- JS | Custom script for all pages -->
    <script src="../assets/js/custom.js"></script>
</body>

</html>
