<!DOCTYPE html>
<html dir="ltr" lang="en">

<head>
    <!-- Meta Tags -->
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <meta name="description" content="Line23 - Your Technology Partner For Good Causes" />
    <meta name="keywords" content="web development,agile,data visualisation,visualization,agile coaching" />
    <meta name="author" content="Edwin P. Magezi" />

    <!-- Stylesheet -->
    <link href="../assets/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="../assets/css/jquery-ui.min.css" rel="stylesheet" type="text/css">
    <link href="../assets/css/css-plugin-collections.css" rel="stylesheet" />
    <!-- CSS | menuzord megamenu skins -->
    <link id="menuzord-menu-skins" href="../assets/css/menuzord-skins/menuzord-rounded-boxed.css" rel="stylesheet" />
    <!-- CSS | Main style file -->
    <link href="../assets/css/style-main.css" rel="stylesheet" type="text/css">
    <!-- CSS | Custom Margin Padding Collection -->
    <link href="../assets/css/custom-bootstrap-margin-padding.css" rel="stylesheet" type="text/css">
    <!-- CSS | Responsive media queries -->
    <link href="../assets/css/responsive.css" rel="stylesheet" type="text/css">

    <!-- CSS | Theme Color -->
    <link href="../assets/css/colors/theme-skin-blue-astro.css" rel="stylesheet" type="text/css">

    <!-- Page Title -->
    <title>Articles - LINE 23 - Your Technology Partner For Good</title>

    <!-- external javascripts -->
    <script src="../assets/js/jquery-2.2.4.min.js"></script>
    <script src="../assets/js/jquery-ui.min.js"></script>
    <script src="../assets/js/bootstrap.min.js"></script>
    <!-- JS | jquery plugin collection for this theme -->
    <script src="../assets/js/jquery-plugin-collection.js"></script>
</head>

<body class="">
    <div id="wrapper" class="clearfix">
        <header id="header" class="header">
            <div class="header-nav">
                <div class="header-nav-wrapper navbar-scrolltofixed bg-silver-light">
                    <div class="container">
                        <nav id="menuzord-right" class="menuzord default no-bg">
                            <a class="menuzord-brand pull-left flip" href="index-mp-layout1.html">
                                LINE <span class="text-theme-colored">23</span>
                            </a>
                            <ul class="menuzord-menu onepage-nav menuzord-right">
                                <li><a href="#home">Home</a></li>
                                <li class="active"><a href="#products">Build Products</a></li>
                                <li><a href="#visualisation">Data Visualisation</a></li>
                                <li><a href="#marketing">Digital Marketing</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </header>
    </div>

    <!-- Start main-content -->
    <div class="main-content">
        <section class="hero inner-header divider">
            <div class="container pt-50 pb-50">
                <div class="section-content pt-100">
                    <div class="row">
                        <div class="col-md-12">
                            <h1 class="font-50 text-theme-colored">Blog</h1>
                            <div class="widget">
                                <div class="tags">
                                    <a href="#">Digital Products</a>
                                    <a href="#">Data Visualisation</a>
                                    <a href="#">Digital Marketing</a>
                                    <a href="#">Agile Coaching</a>
                                    <a href="#">SEO</a>
                                    <a href="#">Data</a>
                                    <a href="#">Wagtail</a>
                                    <a href="#">Mendix</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section>
            <div class="container mt-30 mb-30 pt-30 pb-30">
                <div class="row">
                    <div class="col-md-10 col-md-offset-1">
                        <div class="blog-posts">
                            <div class="col-md-12">
                                <div class="row list-dashed">
                                    <article class="post clearfix mb-30 bg-lighter">
                                        <div class="entry-content p-20 pr-10">
                                            <div class="author-details media-post mb-20">
                                                <a href="#" class="post-thumb mb-0 pull-left flip pr-20">
                                                    <img class="img-thumbnail" alt="" src="https://api.lorem.space/image/drink?w=80&h=80">
                                                </a>
                                                <div class="post-right">
                                                    <h4 class="post-title mt-0 mb-0 mt-5 text-uppercase">
                                                        <a href="#" class="font-18 font-weight-700">11 Subject Line Tips For Charity And Nonprofit Emails</a>
                                                    </h4>
                                                    <p class="text-capitalize mb-0">
                                                        <span class="mb-10 mr-10 font-15 text-theme-colored">Edwin P. Magezi</span>
                                                    </p>
                                                    <p class="text-theme-colored-secondary text-uppercase font-12 font-weight-600">
                                                        Senior Full-Stack Developer
                                                        <span class="text-gray-darkgray font-12 ml-5">27 Jan 2023<span>
                                                    <p>
                                                </div>
                                                <div class="clearfix"></div>
                                            </div>
                                            <p class="mt-10">Lorem ipsum dolor sit amet, consectetur adipisi cing elit. Molestias eius illum libero dolor nobis deleniti, sint assumenda. Pariatur iste veritatis excepturi, ipsa optio nobis.</p>
                                            <a href="#">Read more</a>
                                            <div class="clearfix"></div>
                                        </div>
                                    </article>
                                    <article class="post clearfix mb-30 bg-lighter">
                                        <div class="entry-content p-20 pr-10">
                                            <div class="author-details media-post mb-20">
                                                <a href="#" class="post-thumb mb-0 pull-left flip pr-20">
                                                    <img class="img-thumbnail" alt="" src="https://api.lorem.space/image/drink?w=80&h=80">
                                                </a>
                                                <div class="post-right">
                                                    <h4 class="post-title mt-0 mb-0 mt-5 text-uppercase">
                                                        <a href="#" class="font-18 font-weight-700">11 Subject Line Tips For Charity And Nonprofit Emails</a>
                                                    </h4>
                                                    <p class="text-capitalize mb-0">
                                                        <span class="mb-10 mr-10 font-15 text-theme-colored">Edwin P. Magezi</span>
                                                    </p>
                                                    <p class="text-theme-colored-secondary text-uppercase font-12 font-weight-600">
                                                        Senior Full-Stack Developer
                                                        <span class="text-gray-darkgray font-12 ml-5">27 Jan 2023<span>
                                                    <p>
                                                </div>
                                                <div class="clearfix"></div>
                                            </div>
                                            <p class="mt-10">Lorem ipsum dolor sit amet, consectetur adipisi cing elit. Molestias eius illum libero dolor nobis deleniti, sint assumenda. Pariatur iste veritatis excepturi, ipsa optio nobis.</p>
                                            <a href="#">Read more</a>
                                            <div class="clearfix"></div>
                                        </div>
                                    </article>
                                    <article class="post clearfix mb-30 bg-lighter">
                                        <div class="entry-content p-20 pr-10">
                                            <div class="author-details media-post mb-20">
                                                <a href="#" class="post-thumb mb-0 pull-left flip pr-20">
                                                    <img class="img-thumbnail" alt="" src="https://api.lorem.space/image/drink?w=80&h=80">
                                                </a>
                                                <div class="post-right">
                                                    <h4 class="post-title mt-0 mb-0 mt-5 text-uppercase">
                                                        <a href="#" class="font-18 font-weight-700">11 Subject Line Tips For Charity And Nonprofit Emails</a>
                                                    </h4>
                                                    <p class="text-capitalize mb-0">
                                                        <span class="mb-10 mr-10 font-15 text-theme-colored">Edwin P. Magezi</span>
                                                    </p>
                                                    <p class="text-theme-colored-secondary text-uppercase font-12 font-weight-600">
                                                        Senior Full-Stack Developer
                                                        <span class="text-gray-darkgray font-12 ml-5">27 Jan 2023<span>
                                                    <p>
                                                </div>
                                                <div class="clearfix"></div>
                                            </div>
                                            <p class="mt-10">Lorem ipsum dolor sit amet, consectetur adipisi cing elit. Molestias eius illum libero dolor nobis deleniti, sint assumenda. Pariatur iste veritatis excepturi, ipsa optio nobis.</p>
                                            <a href="#">Read more</a>
                                            <div class="clearfix"></div>
                                        </div>
                                    </article>
                                    <article class="post clearfix mb-30 bg-lighter">
                                        <div class="entry-content p-20 pr-10">
                                            <div class="author-details media-post mb-20">
                                                <a href="#" class="post-thumb mb-0 pull-left flip pr-20">
                                                    <img class="img-thumbnail" alt="" src="https://api.lorem.space/image/drink?w=80&h=80">
                                                </a>
                                                <div class="post-right">
                                                    <h4 class="post-title mt-0 mb-0 mt-5 text-uppercase">
                                                        <a href="#" class="font-18 font-weight-700">11 Subject Line Tips For Charity And Nonprofit Emails</a>
                                                    </h4>
                                                    <p class="text-capitalize mb-0">
                                                        <span class="mb-10 mr-10 font-15 text-theme-colored">Edwin P. Magezi</span>
                                                    </p>
                                                    <p class="text-theme-colored-secondary text-uppercase font-12 font-weight-600">
                                                        Senior Full-Stack Developer
                                                        <span class="text-gray-darkgray font-12 ml-5">27 Jan 2023<span>
                                                    <p>
                                                </div>
                                                <div class="clearfix"></div>
                                            </div>
                                            <p class="mt-10">Lorem ipsum dolor sit amet, consectetur adipisi cing elit. Molestias eius illum libero dolor nobis deleniti, sint assumenda. Pariatur iste veritatis excepturi, ipsa optio nobis.</p>
                                            <a href="#">Read more</a>
                                            <div class="clearfix"></div>
                                        </div>
                                    </article>

                                    <div class="col-md-12">
                                        <nav class="">
                                            <ul class="pagination theme-colored">
                                                <li> <a aria-label="Previous" href="#"> <span aria-hidden="true">«</span> </a> </li>
                                                <li class="active"><a href="#">1</a></li>
                                                <li><a href="#">2</a></li>
                                                <li><a href="#">3</a></li>
                                                <li><a href="#">4</a></li>
                                                <li><a href="#">5</a></li>
                                                <li><a href="#">...</a></li>
                                                <li> <a aria-label="Next" href="#"> <span aria-hidden="true">»</span> </a> </li>
                                            </ul>
                                        </nav>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="divider layer-overlay overlay-light">
            <div class="container">
                <div class="section-content text-left">
                    <div class="row">
                        <div class="col-md-12">
                            <h2 class="mt-0 text-theme-colored">Get in touch about your project</h2>
                            <h4>If you've got a brief, we'd love to see it. If you haven't, talk to us before you write it, we can help.</h4>
                            <div class="contact-block">
                                <div class="contact-block__image">
                                    <img alt="" class="avatar__image img-circle" src="../assets/img/Edwin_Magezi.max-800x600.jpg" width="100px" />
                                </div>
                                <div class="contact-block__content">
                                    <h4 class="mb-0"><a href="mailto:edwinm@line23.co" class="contact-block__email">edwinm@line23.co</a></h4>
                                    <a href="tel://+256702366784" class="contact-block__number text-theme-colored-secondary">(+256) 702 366784</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>

    <footer id="footer" class="footer pb-0 bg-theme-colored">
        <div class="container footer-nav bg-theme-colored p-20">
            <div class="row text-left">
                <div class="col-md-12 inline-flex font-12">
                    <p class="text-white m-0 mr-50">Copyright <b>LINE 23</b> 2023</p>
                    <div class="footer-nav__links">
                        <ul class="inline-flex">
                            <li><a href="#products" class="mr-20">Build Products</a></li>
                            <li><a href="#visualisation" class="mr-20">Data Visualisation</a></li>
                            <li><a href="#marketing" class="mr-20">Digital Marketing</a></li>
                            <li><a href="#blog" class="mr-20">Blog</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <!-- Footer Scripts -->
    <!-- JS | Custom script for all pages -->
    <script src="../assets/js/custom.js"></script>
</body>

</html>
