<!DOCTYPE html>
<html dir="ltr" lang="en">

<head>
    <!-- Meta Tags -->
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <meta name="description" content="Line23 - Your Technology Partner For Good Causes" />
    <meta name="keywords" content="web development,agile,data visualisation,visualization,agile coaching" />
    <meta name="author" content="Edwin P. Magezi" />

    <!-- Stylesheet -->
    <link href="../assets/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="../assets/css/jquery-ui.min.css" rel="stylesheet" type="text/css">
    <link href="../assets/css/css-plugin-collections.css" rel="stylesheet" />
    <!-- CSS | menuzord megamenu skins -->
    <link id="menuzord-menu-skins" href="../assets/css/menuzord-skins/menuzord-rounded-boxed.css" rel="stylesheet" />
    <!-- CSS | Main style file -->
    <link href="../assets/css/style-main.css" rel="stylesheet" type="text/css">
    <!-- CSS | Custom Margin Padding Collection -->
    <link href="../assets/css/custom-bootstrap-margin-padding.css" rel="stylesheet" type="text/css">
    <!-- CSS | Responsive media queries -->
    <link href="../assets/css/responsive.css" rel="stylesheet" type="text/css">

    <!-- CSS | Theme Color -->
    <link href="../assets/css/colors/theme-skin-blue-astro.css" rel="stylesheet" type="text/css">

    <!-- Page Title -->
    <title>Line23 - Your Technology Partner For Good</title>

    <!-- external javascripts -->
    <script src="../assets/js/jquery-2.2.4.min.js"></script>
    <script src="../assets/js/jquery-ui.min.js"></script>
    <script src="../assets/js/bootstrap.min.js"></script>
    <!-- JS | jquery plugin collection for this theme -->
    <script src="../assets/js/jquery-plugin-collection.js"></script>
</head>

<body class="">
    <div id="wrapper" class="clearfix">
        <header id="header" class="header">
            <div class="header-nav">
                <div class="header-nav-wrapper navbar-scrolltofixed bg-silver-light">
                    <div class="container">
                        <nav id="menuzord-right" class="menuzord default no-bg">
                            <a class="menuzord-brand pull-left flip" href="index-mp-layout1.html">
                                LINE <span class="text-theme-colored">23</span>
                            </a>
                            <ul class="menuzord-menu onepage-nav menuzord-right">
                                <li class="active"><a href="#home">Home</a></li>
                                <li><a href="#products">Build Products</a></li>
                                <li><a href="#visualisation">Data Visualisation</a></li>
                                <li><a href="#agile">Capacity Development</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </header>
    </div>

    <!-- Start main-content -->
    <div class="main-content">
        <section id="home" class="divider layer-overlay overlay-dark-2" data-bg-img="../assets/img/hero2.jpeg">
            <div class="display-table">
                <div class="display-table-cell">
                    <div class="container pt-200 pb-200">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="bg-lightest-transparent text-right pt-60 pb-60">
                                    <h1 class="text-white text-uppercase font-60 mb-0">
                                        Your <span class="text-theme-colored-secondary">Technology Partner</span> for
                                        Good
                                    </h1>

                                    <h4 class="text-white font-weight-400 mt-0 w-full">
                                        A web development, data visualisation and agile consultancy for
                                        non-profits and good causes.
                                    </h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="divider layer-overlay overlay-light">
            <div class="container">
                <div class="section-content text-left">
                    <div class="row">
                        <div class="col-md-12">
                            <h2 class="mt-0 text-theme-colored">Get in touch about your project</h2>
                            <h4>If you've got a brief, we'd love to see it. If you haven't, talk to us before you write it, we can help.</h4>
                            <div class="contact-block">
                                <div class="contact-block__image">
                                    <img alt="" class="avatar__image img-circle" src="../assets/img/Edwin_Magezi.max-800x600.jpg" width="100px" />
                                </div>
                                <div class="contact-block__content">
                                    <h4 class="mb-0"><a href="mailto:edwinm@line23.co" class="contact-block__email">edwinm@line23.co</a></h4>
                                    <a href="tel://+256702366784" class="contact-block__number text-theme-colored-secondary">(+256) 702 366784</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>

    <!-- Footer Scripts -->
    <!-- JS | Custom script for all pages -->
    <script src="../assets/js/custom.js"></script>
</body>

</html>
