<!DOCTYPE html>
<html dir="ltr" lang="en">

<head>
    <!-- Meta Tags -->
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <meta name="description" content="Line23 - Your Technology Partner For Good Causes" />
    <meta name="keywords" content="web development,agile,data visualisation,visualization,agile coaching" />
    <meta name="author" content="Edwin P. Magezi" />

    <!-- Stylesheet -->
    <link href="../assets/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="../assets/css/jquery-ui.min.css" rel="stylesheet" type="text/css">
    <link href="../assets/css/css-plugin-collections.css" rel="stylesheet" />
    <!-- CSS | menuzord megamenu skins -->
    <link id="menuzord-menu-skins" href="../assets/css/menuzord-skins/menuzord-rounded-boxed.css" rel="stylesheet" />
    <!-- CSS | Main style file -->
    <link href="../assets/css/style-main.css" rel="stylesheet" type="text/css">
    <!-- CSS | Custom Margin Padding Collection -->
    <link href="../assets/css/custom-bootstrap-margin-padding.css" rel="stylesheet" type="text/css">
    <!-- CSS | Responsive media queries -->
    <link href="../assets/css/responsive.css" rel="stylesheet" type="text/css">

    <!-- CSS | Theme Color -->
    <link href="../assets/css/colors/theme-skin-blue-astro.css" rel="stylesheet" type="text/css">

    <!-- Page Title -->
    <title>LINE 23 - Your Technology Partner For Good</title>

    <!-- external javascripts -->
    <script src="../assets/js/jquery-2.2.4.min.js"></script>
    <script src="../assets/js/jquery-ui.min.js"></script>
    <script src="../assets/js/bootstrap.min.js"></script>
    <!-- JS | jquery plugin collection for this theme -->
    <script src="../assets/js/jquery-plugin-collection.js"></script>
</head>

<body class="">
    <div id="wrapper" class="clearfix">
        <header id="header" class="header">
            <div class="header-nav">
                <div class="header-nav-wrapper navbar-scrolltofixed bg-silver-light">
                    <div class="container">
                        <nav id="menuzord-right" class="menuzord default no-bg">
                            <a class="menuzord-brand pull-left flip" href="index-mp-layout1.html">
                                LINE <span class="text-theme-colored">23</span>
                            </a>
                            <ul class="menuzord-menu onepage-nav menuzord-right">
                                <li><a href="#home">Home</a></li>
                                <li class="active"><a href="#products">Build Products</a></li>
                                <li><a href="#visualisation">Data Visualisation</a></li>
                                <li><a href="#marketing">Digital Marketing</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </header>
    </div>

    <!-- Start main-content -->
    <div class="main-content">
        <section class="hero divider bg-theme-colored">
            <div class="display-table">
                <div class="display-table-cell">
                    <div class="container pt-100 pb-100">
                        <div class="row pt-60 pb-60">
                            <div class="col-md-8 hero__caption">
                                <div class="bg-lightest-transparent text-left">
                                    <h1 class="text-white font-50 mb-0">
                                        We build digital products <span class="text-theme-colored-secondary">for nonprofits and good causes</span>
                                    </h1>
                                </div>
                            </div>
                            <div class="col-md-4 hero__aside">
                                <ul class="inPageNav">
                                    <li class="inPageNav__item">
                                        <a href="#services" class="inPageNav__link inPageNav__active">
                                            Services
                                        </a>
                                    </li>
                                    <li class="inPageNav__item">
                                        <a href="#clients" class="inPageNav__link">
                                            Clients
                                        </a>
                                    </li>
                                    <li class="inPageNav__item">
                                        <a href="#work" class="inPageNav__link">
                                            Our Work
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section>
            <div class="container pb-30">
                <div class="section-content">
                    <div class="row">
                        <div class="col-md-8 pb-sm-20 font-20 text-theme-colored richtext-content">
                            <p>
                                <b>We curate bespoke teams</b> of specialists to deliver projects as the Line 23.
                            </p>
                            <p>
                                Without the overheads of a traditional agency, we're able to form the best team for your project, made up of seasoned professionals.
                            </p>
                            <p>
                                Following a human-centred design approach means we take the time to research and understand our client's audiences. We keep them involved in the design process to validate our work. This builds better products.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section>
            <div class="container pb-30">
                <div class="section-content">
                    <div class="row">
                        <div class="col-md-12 pb-sm-20">
                            <h2 class="line-bottom mt-0 text-theme-colored">Services</h2>
                            <div class="row">
                                <div class="col-xs-12 col-sm-6 col-md-4">
                                    <div class="icon-box left media bg-silver-light border-1px p-15 mb-20">
                                        <div class="media-body font-15">
                                        <h4 class="font-15 text-uppercase text-theme-colored">Save The children</h4>
                                        <p>Lorem ipsum dolor sit ametcons ecte adipisicing eli cumconse teturs lorem ipsum dolor is emmit</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-6 col-md-4">
                                    <div class="icon-box left media bg-silver-light border-1px p-15 mb-20">
                                        <div class="media-body font-15">
                                        <h4 class="font-15 text-uppercase text-theme-colored">Help The Helpless</h4>
                                        <p>Lorem ipsum dolor sit ametcons ecte adipisicing eli cumconse teturs lorem ipsum dolor is emmit</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-6 col-md-4">
                                    <div class="icon-box left media bg-silver-light border-1px p-15 mb-20">
                                        <div class="media-body font-15">
                                        <h4 class="font-15 text-uppercase text-theme-colored">Pure Water For Poor</h4>
                                        <p>Lorem ipsum dolor sit ametcons ecte adipisicing eli cumconse teturs lorem ipsum dolor is emmit</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-6 col-md-4">
                                    <div class="icon-box left media bg-silver-light border-1px p-15 mb-20">
                                        <div class="media-body font-15">
                                        <h4 class="font-15 text-uppercase text-theme-colored">Donation for poor</h4>
                                        <p>Lorem ipsum dolor sit ametcons ecte adipisicing eli cumconse teturs lorem ipsum dolor is emmit</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-6 col-md-4">
                                    <div class="icon-box left media bg-silver-light border-1px p-15 mb-20">
                                        <div class="media-body font-15">
                                        <h4 class="font-15 text-uppercase text-theme-colored">Pure Water For Poor</h4>
                                        <p>Lorem ipsum dolor sit ametcons ecte adipisicing eli cumconse teturs lorem ipsum dolor is emmit</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-6 col-md-4">
                                    <div class="icon-box left media bg-silver-light border-1px p-15 mb-20">
                                        <div class="media-body font-15">
                                        <h4 class="font-15 text-uppercase text-theme-colored">Donation for poor</h4>
                                        <p>Lorem ipsum dolor sit ametcons ecte adipisicing eli cumconse teturs lorem ipsum dolor is emmit</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="clients">
            <div class="container pt-0 pb-0">
                <h2 class="line-bottom mt-0 text-theme-colored">Clients</h2>
                <div class="row clients-logo transparent text-center">
                    <div class="item col-xs-6 col-sm-4 col-md-3 col-lg-2"> <a href="#"><img src="https://api.lorem.space/image/drink?w=200&h=120" alt=""></a></div>
                    <div class="item col-xs-6 col-sm-4 col-md-3 col-lg-2"> <a href="#"><img src="https://api.lorem.space/image/movie?w=200&h=120" alt=""></a></div>
                    <div class="item col-xs-6 col-sm-4 col-md-3 col-lg-2"> <a href="#"><img src="https://api.lorem.space/image/car?w=200&h=120" alt=""></a></div>
                    <div class="item col-xs-6 col-sm-4 col-md-3 col-lg-2"> <a href="#"><img src="https://api.lorem.space/image/furniture?w=200&h=120" alt=""></a></div>
                    <div class="item col-xs-6 col-sm-4 col-md-3 col-lg-2"> <a href="#"><img src="https://api.lorem.space/image/watch?w=200&h=120" alt=""></a></div>
                    <div class="item col-xs-6 col-sm-4 col-md-3 col-lg-2"> <a href="#"><img src="https://api.lorem.space/image/shoes?w=200&h=120" alt=""></a></div>
                    <div class="item col-xs-6 col-sm-4 col-md-3 col-lg-2"> <a href="#"><img src="https://api.lorem.space/image/fashion?w=200&h=120" alt=""></a></div>
                    <div class="item col-xs-6 col-sm-4 col-md-3 col-lg-2"> <a href="#"><img src="https://api.lorem.space/image/game?w=200&h=120" alt=""></a></div>
                    <div class="item col-xs-6 col-sm-4 col-md-3 col-lg-2"> <a href="#"><img src="https://api.lorem.space/image/house?w=200&h=120" alt=""></a></div>
                    <div class="item col-xs-6 col-sm-4 col-md-3 col-lg-2"> <a href="#"><img src="https://api.lorem.space/image?w=200&h=120" alt=""></a></div>
                </div>
            </div>
        </section>

        <section id="blog">
            <div class="container">
                <div class="section-titler">
                    <div class="row">
                        <div class="col-md-10">
                            <h2 class="line-bottom mt-0">Our <span class="text-theme-colored font-weight-600">Work</span></h2>
                        </div>
                    </div>
                </div>
                <div class="section-content">
                    <div class="row">
                        <div class="col-sm-12 col-md-12 col-lg-12 mb-50">
                            <div class="schedule-box maxwidth500 clearfix mb-30">
                                <div class="col-md-5 p-0">
                                    <div class="thumb">
                                        <img class="img-fullwidth" alt="" src="https://api.lorem.space/image/movie?w=540&h=370">
                                    </div>
                                </div>
                                <div class="col-md-7">
                                    <div class="schedule-details clearfix p-15 pt-30">
                                        <h2 class="mt-0 text-theme-colored"><a href="#">Improving accessibility for the Internet Society</a></h3>
                                        <div class="clearfix"></div>
                                        <p class="mt-10 font-18">
                                            Helping the Internet Society to make their website and the content they produce more accessible.
                                        </p>
                                        <div class="mt-10">
                                            <a href="#" class="btn btn-default btn-theme-colored mt-10 font-16 btn-sm">Learn More</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-12 col-md-12 col-lg-12 mb-50">
                            <div class="schedule-box maxwidth500 clearfix mb-30">
                                <div class="col-md-7">
                                    <div class="schedule-details clearfix p-15 pt-30">
                                        <h2 class="title mt-0"><a href="#">Finding new ways to support people coping with grief and bereavement</a></h2>
                                        <div class="clearfix"></div>
                                        <p class="mt-10 font-18">
                                            As Sue Ryder's product strategy and development partner, we’ve been helping them adopt a culture of continuous user research and design to improve their services.
                                        </p>
                                        <div class="mt-10">
                                            <a href="#" class="btn btn-default btn-theme-colored mt-10 font-16 btn-sm">Learn More</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-5 p-0">
                                    <div class="thumb">
                                        <img class="img-fullwidth" alt="" src="https://api.lorem.space/image/movie?w=540&h=370">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-12 col-md-12 col-lg-12 mb-50">
                            <div class="schedule-box maxwidth500 clearfix mb-30">
                                <div class="col-md-5 p-0">
                                    <div class="thumb">
                                        <img class="img-fullwidth" alt="" src="https://api.lorem.space/image/movie?w=540&h=370">
                                    </div>
                                </div>
                                <div class="col-md-7">
                                    <div class="schedule-details clearfix p-15 pt-30">
                                        <h2 class="mt-0 text-theme-colored"><a href="#">Improving accessibility for the Internet Society</a></h3>
                                        <div class="clearfix"></div>
                                        <p class="mt-10 font-18">
                                            Helping the Internet Society to make their website and the content they produce more accessible.
                                        </p>
                                        <div class="mt-10">
                                            <a href="#" class="btn btn-default btn-theme-colored mt-10 font-16 btn-sm">Learn More</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-12 col-md-12 col-lg-12 mb-50">
                            <div class="schedule-box maxwidth500 clearfix mb-30">
                                <div class="col-md-7">
                                    <div class="schedule-details clearfix p-15 pt-30">
                                        <h2 class="title mt-0"><a href="#">Finding new ways to support people coping with grief and bereavement</a></h2>
                                        <div class="clearfix"></div>
                                        <p class="mt-10 font-18">
                                            As Sue Ryder's product strategy and development partner, we’ve been helping them adopt a culture of continuous user research and design to improve their services.
                                        </p>
                                        <div class="mt-10">
                                            <a href="#" class="btn btn-default btn-theme-colored mt-10 font-16 btn-sm">Learn More</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-5 p-0">
                                    <div class="thumb">
                                        <img class="img-fullwidth" alt="" src="https://api.lorem.space/image/movie?w=540&h=370">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="divider layer-overlay overlay-light">
            <div class="container">
                <div class="section-content text-left">
                    <div class="row">
                        <div class="col-md-12">
                            <h2 class="mt-0 text-theme-colored">Get in touch about your project</h2>
                            <h4>If you've got a brief, we'd love to see it. If you haven't, talk to us before you write it, we can help.</h4>
                            <div class="contact-block">
                                <div class="contact-block__image">
                                    <img alt="" class="avatar__image img-circle" src="../assets/img/Edwin_Magezi.max-800x600.jpg" width="100px" />
                                </div>
                                <div class="contact-block__content">
                                    <h4 class="mb-0"><a href="mailto:edwinm@line23.co" class="contact-block__email">edwinm@line23.co</a></h4>
                                    <a href="tel://+256702366784" class="contact-block__number text-theme-colored-secondary">(+256) 702 366784</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>

    <footer id="footer" class="footer pb-0 bg-theme-colored">
        <div class="container footer-nav bg-theme-colored p-20">
            <div class="row text-left">
                <div class="col-md-12 inline-flex font-12">
                    <p class="text-white m-0 mr-50">Copyright <b>LINE 23</b> 2023</p>
                    <div class="footer-nav__links">
                        <ul class="inline-flex">
                            <li><a href="#products" class="mr-20">Build Products</a></li>
                            <li><a href="#visualisation" class="mr-20">Data Visualisation</a></li>
                            <li><a href="#marketing" class="mr-20">Digital Marketing</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <!-- Footer Scripts -->
    <!-- JS | Custom script for all pages -->
    <script src="../assets/js/custom.js"></script>
</body>

</html>
