{% load wagtailcore_tags %}

<section>
  <div class="container pb-30">
      <div class="section-content">
          <div class="row">
              <div class="col-md-12 pb-sm-20">
                  <h2 class="line-bottom mt-0 text-theme-colored">{{self.heading}}</h2>
                  <div class="grid">
                    {% for service in self.services %}
                      {% if service.page %}
                        <a href="{% pageurl service.page %}" class="grid-item bg-silver-light border-1px">
                          <div class="icon-box left media p-15 mb-20">
                            <div class="media-body font-15">
                            <h4 class="font-15 text-uppercase text-theme-colored">{{service.heading}}</h4>
                            {{service.description|richtext}}
                            </div>
                        </div>
                        </a>
                      {% else %}
                        <div class="grid-item bg-silver-light border-1px">
                          <div class="icon-box left media p-15 mb-20">
                              <div class="media-body font-15">
                              <h4 class="font-15 text-uppercase text-theme-colored">{{service.heading}}</h4>
                              {{service.description|richtext}}
                              </div>
                          </div>
                        </div>
                      {% endif %}
                    {% endfor %}
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>
